<style>
    body {
        background-color: rgb(211, 208, 208);
    }
    
    h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        height: auto;
    }
    
    .article {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
    }
    
    .article img {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: 20%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>

<h1>
    <%= Heading  %>
</h1>

<div class="container">
    <div class="article">
        <img src="<%= firstcarimage %>" alt="Car Image">
        <h2>Top Features </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus vestibulum, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet quaerat deleniti corrupti magnam natus perspiciatis, neque est architecto iusto. Sapiente quis
            cum dignissimos eos ex magni at consequatur deserunt temporibus? hendrerit nisi nec, aliquam nisi. Cras vitae semper est.</p>
        <p><a href="#">Read more...</a></p>
    </div>
    <div class="article">
        <img src="<%= secondcarimage %>" alt="Car Image">
        <h2>High Performance Inside Out</h2>
        <p>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, in quae! Veritatis, itaque ullam doloremque sequi cum inventore voluptate, ipsa vero et, recusandae dolorem. Natus atque nesciunt odit officia at!sit amet, consectetur
            adipiscing elit. Sed quis risus vestibulum, hendrerit nisi nec, aliquam nisi. Cras vitae semper est.</p>
        <p><a href="#">Read more...</a></p>
    </div>
    <div class="article">
        <img src="<%= thirdcarimage %>" alt="Car Image">
        <h2>A porsche what else</h2>
        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laudantium ratione similique, ipsam sed assumenda eaque cum quaerat, recusandae quibusdam quia quis voluptates veniam, id harum pariatur vel consectetur
            a?consectetur adipiscing elit. Sed quis risus vestibulum, hendrerit nisi nec, aliquam nisi. Cras vitae semper est.</p>
        <p><a href="#">Read more...</a></p>
    </div>
</div>