<div class="container-footer">
    <p>Current Region / Language</p>

    <div>
        <img class="flag" src="/media/Flag_of_the_United_States.png" alt="flag">
        <span>United States / English</span>
        <span><a href="">Change</a></span>
    </div>
    <div class="contact-us">
        <div class="contact-us-1">
            <h6>
                Newsletter
            </h6>
            <p>
                Latest news directly in your inbox
            </p>
            <button class="contact-us-button">
      Subscribe
    </button>
            <h6>
                <b>Company</b>
            </h6>
            <ul>
                <li>Porche at a Glance</li>
                <li>Sustainability</li>
                <li>Partner Forum</li>
                <li>Press</li>
            </ul>

        </div>
        <div class="contact-us-1">
            <h6>
                Contact
            </h6>
            <p>
                Do you have any questions?
            </p>
            <button class="contact-us-button" id="contact-us">
      Contact Form
    </button>
            <h6>


            </h6>
            <ul>
                <li>Porche at a Glance</li>
                <li>Sustainability</li>
                <li>Partner Forum</li>
                <li>Press</li>
            </ul>

        </div>
        <div class="contact-us-1">
            <h6>
                Social Media
            </h6>
            <p>
                Get in touch with us via social media.
            </p>
            <div>
                social-media-apps
            </div>

        </div>

    </div>
    <div class="line"></div>
    <p style="margin-top: 50px;">© 2024 Porsche Cars North America, Inc. Legal notice. Privacy notice. California Privacy. Accessibility Statement. Open Source Software Notice. Do Not Sell or Share My Personal Information. Whistleblower System. Emergency Responders. Recall Information.
        3G Wireless Turndown FAQs.</p>
    <div class="ending">
        <h1>PORSCHE</h1>
    </div>
</div>