<header>
    <div id="side-menu" class="side-menu">
        <div>
            <button id="closeButton">
          <h3 id="close">close</h3>
        </button>
            <button id="loginButton">
          <h4>Login</h4>
        </button>

        </div>
    </div>
    <div>
        <section>
            <div class="Complete-Documnet">

                <div class="topsection ">


                    <div class="bgvideo">


                        <video class="videoactual" src="/media/Porsche 911 GT3 (edit).mp4" autoplay loop muted loading="lazy"></video>
                        <div class="textonvideo">



                        </div>
                        <p>keep your essance
                            <div class="button1 ">
                                <button class="button ">Button</button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>


    </div>

    </section>
</header>
<section class="sec2 ">
    <div class="card-box" onclick="window.location.href = `/news/maccan`">

        <img src="https://robbreport.com/wp-content/uploads/2024/01/1-w-DSC08884.jpg?w=1024" alt="the new tycan">

        <h5>The new electric macan <i class="fa fa-arrow-right " style="margin:auto "></i></h5>
    </div>
    <div class="card-box" onclick="window.location.href = `/news/future`">
        <img src="https://www.carscoops.com/wp-content/uploads/2023/01/Porsche-911-Concept-17-1024x576.jpg" alt="the new tycan">
        <h5> Future of porsche<i class="fa fa-arrow-right " style="padding-left: 150px; "></i></h5>

    </div>
    <div class="card-box" onclick="window.location.href = `/news/history`">


        <img src="https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1290x726/dam/pnr/porsche_newsroom/People/Ferdinand-Porsche/P06_0898_a5/jcr:content/P06_0898_a5.jpg" alt="the new tycan">
        <h5>History of porsche <i class="fa fa-arrow-right " style="padding-left: 150px; "></i></h5>
    </div>

</section>


<div style="height: 250px; width:100%; position: relative;">
    <img class="box" src="/media/rolling-car.png">
</div>


<section class="models">
    <h2 class="models-heading"> Models</h2>
    <div class="models-section">

        <div class="models-cardbox">

            <img src="/media/718.jpg" alt="the new tycan">
            <h2>media/images/ </h2>
            <p class="details-about-car">the mid-engine sports car for two made for pure driving pleasure</p>
            <p class="price-car">From $ 68,000</p>
            <div class="but-on-card">
                <button class="but-card-1">build your media/images/</button>
                <!-- Link to view all Cayman models -->
                <a href="/homepage/model?names=Cayman,Boxter,Spyder,Cayman%20GT">
                    <button class="but-card-2">All Cayman Models</button>
                </a>

                <!-- Link to view only Cayman and Boxter models -->
                <a href="/homepage/model?names=Cayman,Boxter">
                    <button class="but-card-2">Cayman and Boxter Models</button>
                </a>

                <!-- Link to view only Spyder models -->
                <a href="/homepage/model?names=Spyder">
                    <button class="but-card-2">Spyder Models</button>
                </a>

            </div>

        </div>

        <div class="models-cardbox">
            <img src="/media/718.jpg" alt="the new tycan">
            <h2>media/images/ </h2>
            <p class="details-about-car">the mid-engine sports car for two made for pure driving pleasure</p>
            <p class="price-car">From $ 68,000</p>
            <div class="but-on-card">
                <button class="but-card-1">build your media/images/</button>
                <button class="but-card-2">all media/images/ models</button>
            </div>
        </div>
    </div>
    <div class="models-section">
        <div class="models-cardbox">

            <img src="/media/718.jpg" alt="the new tycan">
            <h3>media/images/ </h3>
            <p class="details-about-car">the mid-engine sports car for two made for pure driving pleasure</p>
            <p class="price-car">From $ 68,000</p>
            <div class="but-on-card">
                <button class="but-card-1">build your media/images/</button>
                <button class="but-card-2">all media/images/ models</button>
            </div>
        </div>

        <div class="models-cardbox">
            <img src="/media/718.jpg" alt="the new tycan">
            <h3>media/images/ </h3>
            <p class="details-about-car">the mid-engine sports car for two made for pure driving pleasure</p>
            <p class="price-car">From $ 68,000</p>
            <div class="but-on-card">
                <button class="but-card-1">build your media/images/</button>
                <button class="but-card-2">all media/images/ models</button>
            </div>
        </div>
    </div>
    <div class="models-section">
        <div class="models-cardbox">

            <img src="/media/718.jpg" alt="the new tycan">
            <h3>media/images/ </h3>
            <p class="details-about-car">the mid-engine sports car for two made for pure driving pleasure</p>
            <p class="price-car">From $ 68,000</p>
            <div class="but-on-card">
                <button class="but-card-1">build your media/images/</button>
                <button class="but-card-2">all media/images/ models</button>
            </div>
        </div>

        <div class="models-cardbox">
            <img src="/media/718.jpg" alt="the new tycan">
            <h3>media/images/ </h3>
            <p class="details-about-car">the mid-engine sports car for two made for pure driving pleasure</p>
            <p class="price-car">From $ 68,000</p>
            <div class="but-on-card">
                <button class="but-card-1">build your media/images/</button>
                <button class="but-card-2">all media/images/ models</button>
            </div>
        </div>
    </div>
</section>
<section class="some-details">
    <p>*Manufacturer’s Suggested Retail Price. Excludes options; taxes; title; registration; delivery, processing and handling fee; dealer charges. Dealer sets actual selling price.</p>
</section>
<section class="porsche-center">
    <div class="porsche-center-card">
        <div>
            <div class="porsche-center-details">
                <h5>Find Your Porsche Center</h5>
                <p class="p-details-ceter">A Porsche Center, and your dream Porsche vehicle, may be closer than you think. Search our Porsche Center network for the location closest to you.</p>
                <button class="button-center" onclick="window.location.href = `/porsche/center`">Search now</button>
            </div>
        </div>
        <div class="porsche-center-img">
            <img src="/media/porsche-center.jpg" alt="build your own car">
        </div>
    </div>
</section>
<section class="pre-own">
    <div class="pre-own-main">
        <div class="pre-own-details">
            <h5>
                Find your new or pre-owned Porsche.
            </h5>
            <p>
                Making it easy to find your dream Porsche. Enter your location and browse the best car offers available near you.
            </p>
            <p>
                Enter a location for your search
            </p>
            <input type="text">
        </div>
        <div class="pre-own-img">
            <img src="/media/pre-own-porsche.png" alt="pre-owned-porsche">
        </div>
    </div>
</section>
<section class="social-media">
    <h3>social media</h3>
    <div class="social-media-posts">
        <div class="div1">


            <img src="/media\post1.webp" alt="pre-owned-porsche">
            <div style="height: 10px;"></div>
            <div class="social-media-container">

                <h6><a href="https://www.instagram.com/p/C1r7MrAIbSg/?igsh=NTc4MTIwNjQ2YQ==" target="_blank">@idar_project</a>
                </h6>
                <div><i class="fab fa-instagram"></i></div>
            </div>
        </div>

        <div class="div2">
            <video src="/media\siddu_edits7-14-03-2024-0001.mp4" alt="pre-owned-porsche" autoplay loop muted id="post2"></video>
            <div class="video-controls-social">

                <i class="fa fa-expand" onclick="videofullerscreen('post2')"></i>
                <div>
                    <i id="volumepost2" class="fa fa-volume-off" onclick="toggleAudio('post2','volumepost2')"></i>
                </div>
            </div>
            <div class="social-media-container">
                <h6><a href="https://www.instagram.com/p/C1r7MrAIbSg/?igsh=NTc4MTIwNjQ2YQ==" target="_blank">@idar_project</a>
                </h6>
                <div><i class="fab fa-instagram"></i></div>

            </div>

        </div>
        <div class="div3"> <video autoplay loop muted src="/media\post3.mp4" id="post3"></video>
            <div class="video-controls-social">

                <i class="fa fa-expand" onclick="videofullerscreen('post3')"></i>
                <div>
                    <i id="volumepost3" class="fa fa-volume-off" onclick="toggleAudio('post3','volumepost3')"></i>
                </div>
            </div>
            <div class="social-media-container">
                <h6><a href="https://www.tiktok.com/t/ZTLNaqvav/" target="_blank">@cartok_ph</a>
                </h6>
                <div><i class="fab fa-tiktok"></i></div>

            </div>
        </div>
        <div class="div4">

            <video autoplay loop muted src="/media\post4.mp4" id="post4"></video>
            <div class="video-controls-social">

                <i class="fa fa-expand" onclick="videofullerscreen('post4')"></i>
                <div>
                    <i id="volumepost4" class="fa fa-volume-off" onclick="toggleAudio('post4','volumepost4')"></i>
                </div>
            </div>
            <div class="social-media-container">
                <h6><a href="https://www.tiktok.com/t/ZTLNaqvav/" target="_blank">@cartok_ph</a>
                </h6>
                <div><i class="fab fa-tiktok"></i></div>

            </div>
        </div>



        <div class="div5">
            <iframe width="370" height="315" src="https://www.youtube.com/embed/CcAQD6hwo1Q?si=MzsrjTe9mX04PbDb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </div>
        <div class="div6">


            <video autoplay loop muted src="/media\post6.mp4" id="post6"></video>
            <div class="video-controls-social">

                <i class="fa fa-expand" onclick="videofullerscreen('post6')"></i>
                <div>
                    <i id="volumepost6" class="fa fa-volume-off" onclick="toggleAudio('post6','volumepost6')"></i>
                </div>
            </div>
            <div class="social-media-container">
                <h6><a href="https://www.instagram.com/reel/C4NnaBWI1QO/?igsh=NTc4MTIwNjQ2YQ==" target="_blank">@cartok_ph</a>
                </h6>
                <div><i class="fab fa-instagram"></i></div>


            </div>
        </div>
        <div class="div7">
            <img src="/media/p7p1.jpeg" class="mySlides">
            <img src="/media/p7p2.jpeg" class="mySlides">
            <img src="/media/p7p3.jpeg" class="mySlides">
            <img src="/media/p7p4.jpeg" class="mySlides">
            <img src="/media/p7p5.jpeg" class="mySlides">
            <div style="height: 10px;"></div>
            <div class="social-media-container">

                <h6><a href="https://www.instagram.com/p/C1b5bcyuwep/?igsh=NTc4MTIwNjQ2YQ==" target="_blank">@gt3point2</a>
                </h6>
                <div><i class="fab fa-instagram"></i></div>
            </div>

        </div>


        <div class="div8">
            <video autoplay loop muted src="/media/post8.mp4" id="post8"></video>
            <div class="video-controls-social">

                <i class="fa fa-expand" onclick="videofullerscreen('post8')"></i>
                <div>
                    <i id="volumepost8" class="fa fa-volume-off" onclick="toggleAudio('post8','volumepost8')"></i>
                </div>
            </div>
            <div class="social-media-container">
                <h6><a href="https://www.tiktok.com/t/ZTLFp7Yt6/" target="_blank">@cartok_ph</a>
                </h6>
                <div><i class="fab fa-tiktok"></i></div>

            </div>


        </div>
        <div class="div9">

            <img src="/media/post8.jpg" alt="pre-owned-porsche">
            <div style="height: 10px;"></div>
            <div class="social-media-container">

                <h6><a href="https://pin.it/1gLMlxxx0" target="_blank">@JuanAi</a>
                </h6>
                <div><i class="fab fa-pinterest"></i></div>
            </div>
        </div>

        <div class="div10">
            <video autoplay loop muted src="/media/post10.mp4" id="post10"></video>
            <div class="video-controls-social">

                <i class="fa fa-expand" onclick="videofullerscreen('post10')"></i>
                <div>
                    <i id="volumepost10" class="fa fa-volume-off" onclick="toggleAudio('post10','volumepost10')"></i>
                </div>
            </div>
            <div class="social-media-container">
                <h6><a href="https://www.tiktok.com/t/ZTLFgQTLM/" target="_blank">@cartok_ph</a>
                </h6>
                <div><i class="fab fa-tiktok"></i></div>

            </div>

        </div>
    </div>
</section>


<!-- <section class="vid">
    <div class="holder">
        <video class="vid-scrub" src="/media/vscrub.mp4" autoplay loop muted playinline>

    </video>

    </div>

    <div style="height: 100%; width:100%;background-color:black ;position:'absolute';"></div>
</section> -->