<!-- views/layout.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Car Management System</title>
</head>

<body>
    <header>
        <%- include('./partials/navbar.ejs')  %>
    </header>
    <%- body %>
        <!-- Content of the view files will be injected here -->
        <hr> Footer Goes Here
</body>

</html>