<nav class="navbar">


    <div>
        <h2><i class="fa fa-user" id="user"></i></h2>
    </div>
    <div>
        <h2><img class="logo-img" src="/media/logo.png" alt="logo">
            <a href="/index.html"></a>
        </h2>
    </div>
    <div>
        <h2><i class="fa fa-bars"></i></h2>
    </div>




</nav>