
<head>
   
</head>


  <style>
body{
    padding: 0;
    margin: 0;
}
    
    .general-navbar {
        width: 100%;
        height: 100px;
        background-color: black;
        color: white;

      
  
    }
    img{
        height: 80px;
    }
    ul{
        height: 100px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
       
    }
  </style>
   
  
  <nav class="general-navbar">
        <ul>
            <li class="fa fa-user"></li>
            <li><img src="/images/logo.png" alt=""></li>
            <li class="fa fa-bars"></li>
        </ul>
    </nav>