:root {
    --maincolor: #d8ab23;
    --seccolor: #720907;
    --bgcolor: #140f0f;
}

body {
    animation-delay: 2s;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-timing-function: linear;
    font-family: Helvetica;
    padding: 0px;
    margin: 0px;
    background: var(--bgcolor);
    scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "SK Porsche";
}

@keyframes example {
    0% {
        background-color: var(--maincolor)
    }

    25% {
        background-color: var(--seccolor)
    }

    50% {
        background-color: var(--bgcolor)
    }

}