<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/metadata.ejs',{pageTitle:"Api Admin"}) %>
    <style>
   
    </style>
</head>
<body>

   <header>
    <%- include('./crudpartials/general-navbar') %>
   </header>
    
</body>
</html>