<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/metadata.ejs',{pageTitle:"Home Page"}) %>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/header.ejs',{videoBackground: "videos/Porsche 911 GT3 (edit).mp4"})%>


    
</body>
</html>