<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/metadata.ejs',{pageTitle:"Home Page"}) %>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <%- include('./partials/header.ejs',{videoBackground: "videos/Porsche 911 GT3 (edit).mp4"})%>
    </header>

    <section>
        <%- include('./partials/trending.ejs')  %>
    </section>
    <section>
        <%- include('./partials/models.ejs')  %>
    </section>


    
</body>
</html>