<form action="" method="post">
    <div class="enter-data">
        Name: <input type="text" name="name" value="usman"> <br /> Email: <input type="text" name="email" value="usman@usman.com"> <br /> Password: <input type="password" name="password" value="usman"> <br /> Role:
        <select name="roles">
            <option value="">Select Role</option>
            <option value="IT Manager/Director">IT Manager/Director</option>
            <option value="Software Developer/Engineer">Software Developer/Engineer</option>
            <option value="Systems Administrator">Systems Administrator</option>
            <option value="Database Administrator (DBA)">Database Administrator (DBA)</option>
            <option value="Network Engineer">Network Engineer</option>
            <option value="Cybersecurity Analyst">Cybersecurity Analyst</option>
            <option value="Business Analyst">Business Analyst</option>
            <option value="Quality Assurance (QA) Engineer">Quality Assurance (QA) Engineer</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Technical Support Specialist">Technical Support Specialist</option>
        </select> <br />
        <input type="submit"> <br />
    </div>
</form>