<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/metadata.ejs',{pageTitle: "Contact Us"})  %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./partials/top-menu') %>
    <h1>Contact Us Page</h1>
</body>
</html>