<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/metadata.ejs',{pageTitle: "Home Page"})  %>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <%- include('./partials/top-menu') %>
    <h1>Home Page</h1>
</body>
</html>